:root {
--p: #02075d;
--s:#000000;
--t: #8b9cf0;
--b:#FFFFFF;
}

body {
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ebf0f7' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23f3f3f6' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e1f0fe' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b0cdee' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23c9c9d8' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23d5e0ef' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b9d1ed' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%239195b4' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%2389a8d3' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23b3d4f5' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2397b4da' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%238a8cac' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
	 position: relative;
	
}

h1 {
	color: var(--p);
}

.navbar{
	background-color: transparent !important;
}


.container-fluid{
	padding-left: 5% !important;
	height: 100%;
	padding-top: 7% !important;
}
.homeContent{
	padding-top: 8% !important;
}

.btn{
	border-radius: 60px !important;
	width:82%;

}

/* FontAwesome for working BootSnippet :> */






#team .card {
    border: none;
    background: transparent;
}






.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.frontside .card,
.backside .card {
    min-height: 150px;
}


.frontside .card .card-title {
    color: #var(--p) !important;
}

.frontside .card .card-body img {
    width: 90%;
    height: 120px;
    border-radius: 50%;
}

.text-dark{
	color: var(--p) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(21, 3, 127, 0.5);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	color:  var(--p) !important;
	border-bottom: 3px solid var(--p);

}

.navbar{
	background-color: transparent;
}
.btn-outline-dark{
	color:  var(--p) !important;
	border-color: var(--p) !important; 
}

.btn-outline-dark:hover{
	color:  #EAEAEA !important;
	border-color: var(--p) !important; 
	background-color: var(--p);
}

.list-group-item{
	background-color: transparent;
	color: var(--p);	
}


.list-group-item:hover{
	 background-color:var(--p) ;	
	border-color: var(--p) ;
	color:var(--b) ;
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index:2;
 background-color:var(--p) ;	
	border-color: var(--p) ;
	color:var(--b) ;
}


a{
	color: var(--p);
	font-size: 1.12rem;
}


.fade-in {
	-webkit-animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-3 22:40:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-left {
	-webkit-animation: slide-in-left 0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-1-4 19:41:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

